<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav th:replace="layout/layout :: nav"></nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="layout/layout :: sidebar"
			class="navbar-default sidebar" role="navigation"></div>
		<!-- Left navbar-header end -->
		<div th:replace="layout/layout :: status-messages"></div>
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Inicio</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Dashboard</a></li>
							<li><a th:href="@{/}">Inicio</a></li>
							<li class="active">Crear</li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="panel panel-default">
					<a class="btn btn-primary pull-right" style="margin: 10px;"
						th:href="@{'/show/' + ${bill.client.id}}" th:text="'Volver'"></a>
					<div class="panel-heading" th:text="${title}"></div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="row">
								<form th:action="@{/bill/form/}" th:object="${bill}"
									method="post">
									<div class="form-group col-md-12">
										<label class="form-label" th:text="'Cliente'"></label> <input
											class="form-control" type="text"
											th:value="${bill.client.name} + ' ' + ${bill.client.lastname}"
											readonly="readonly" />
									</div>
									<div class="form-group col-md-12">
										<label class="form-label" th:text="'Descripción'"></label> 
										<input type="text" th:field="*{description}" class="form-control" th:errorclass="'form-control is-invalid'"/>
										<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
									</div>
									<div class="form-group col-md-12">
										<label class="form-label" th:text="'Observación'"></label>
										<textarea th:field="*{observation}" class="form-control"></textarea>
									</div>
									<div class="form-group col-md-12">
										<label class="form-label" th:text="'Buscar producto'"></label>
										<input type="text" name="bucar_producto" id="buscar_producto"
											class="form-control"></input>
									</div>
									
									<table th:replace="bill/items_template :: billItems"></table>
									
									<table id="loadItemProducts" class="table table-striped table-hover">
										<thead>
											<tr>
												<th>NOMBRE</th>
												<th>PRECIO</th>
												<th>CANTIDAD</th>
												<th>TOTAL</th>
												<th>ELIMINAR</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
									<h5>Total <span class="badge badge-secondary" id="total">0</span></h5>
									<div class="form-group col-md-12">
										<button type="submit" th:text="'Crear'"
											class="btn btn-success"></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
			<footer th:replace="layout/layout :: footer"
				class="footer text-center"></footer>
		
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="layout/layout :: js"></div>
	<script th:replace="bill/autocomplete :: javascript"></script>	
</body>

</html>