<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav th:replace="layout/layout :: nav" class="navbar navbar-default navbar-static-top m-b-0"></nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="layout/layout :: sidebar" class="navbar-default sidebar" role="navigation"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Crear Cliente</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Dashboard</a></li>
							<li class="active">Crear</li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="white-box">
					<h3 class="box-title m-b-0" th:text="${title}"></h3>
					<p class="text-muted m-b-30 font-13">Ingrese los datos
						solicitados</p>
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<form th:action="@{/store}" th:object="${client}" method="POST">
								<div class="form-group">
									<label for="name">Nombre</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="ti-user"></i>
										</div>
										<input type="text" class="form-control" id="name"
											placeholder="Nombre" th:field="*{name}" />
									</div>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
								</div>
								<div class="form-group">
									<label for="lastname">Apellido</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="ti-user"></i>
										</div>
										<input type="text" class="form-control" id="lastname"
											placeholder="Apellido" th:field="*{lastname}" />
									</div>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('lastname')}"
										th:errors="*{lastname}"></small>
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="ti-email"></i>
										</div>
										<input type="text" class="form-control" id="email"
											placeholder="Email" th:field="*{email}" />
									</div>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
								</div>
								<div class="form-group">
									<label for="date">Fecha</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control" id="date"
											placeholder="Ej: 09-03-1992" th:field="*{createdAt}" /> 
									</div>
									<small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('createdAt')}"
											th:errors="*{createdAt}"></small>
								</div>
								<button type="submit"
									class="btn btn-success waves-effect waves-light m-r-10">Aceptar</button>
								<button type="submit"
									class="btn btn-inverse waves-effect waves-light">Cancelar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
			<footer th:replace="layout/layout :: footer" class="footer text-center"></footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="layout/layout :: js"></div>
</body>
</html>