<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav th:replace="layout/layout :: nav"></nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="layout/layout :: sidebar" class="navbar-default sidebar" role="navigation">
		</div>
		<!-- Left navbar-header end -->
		<div th:replace="layout/layout :: status-messages"></div>
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">Inicio</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a th:href="@{/}">Dashboard</a></li>
							<li class="active">Inicio</li>
						</ol>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-success" th:href="@{/create}"><i class="fa fa-plus"></i> Crear</a>
						<div class="white-box">
							<h3 class="box-title">Lista</h3>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>NOMBRE</th>
										<th>APELLIDO</th>
										<th>EMAIL</th>
										<th>FECHA</th>
										<th>Accion</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="client: ${clients}">
										<td th:text="${client.id}"></td>
										<td th:text="${client.name}"></td>
										<td th:text="${client.lastname}"></td>
										<td th:text="${client.email}"></td>
										<td th:text="${client.createdAt}"></td>
										<td>
										<a class="btn btn-warning" th:href="@{/edit/} + ${client.id}" th:text="'Editar'"></a>
										<a class="btn btn-danger" th:href="@{/delete/} + ${client.id}" th:text="'Eliminar'" onclick="return confirm('¿Está seguro de eliminar este registro?')"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
			<footer th:replace="layout/layout :: footer" class="footer text-center"></footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="layout/layout :: js"></div>
</body>

</html>